.app-container {
  display: flow-root;
  background:
    radial-gradient(circle, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0.88) 100%),
    url("../assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Cinzel", system-ui;
  line-height: 1.4;
  min-height: 100vh;
}

.theme-input {
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #fdfaf4;
  font-family: "Cinzel", serif;
  font-weight: bold;

  letter-spacing: 0.05em;

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.651);
    outline: none;
  }

  &:disabled {
    cursor: auto;
  }
}

.theme-button {
  --text-color: #e0d4b0;
  --border-color: #f0cd8d;
  position: relative;
  padding: 0.5em 2em;
  border: 1px solid var(--border-color);
  backdrop-filter: blur(4px);
  background-color: #13100b;
  background-image: url("../assets/woodbg2.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  font-family: "Cinzel";
  font-weight: bold;
  letter-spacing: 0.05em;
  transition:
    background-color 0.2s,
    color 0.2s;

  img {
    transition: filter 0.2s;
  }

  &:not([data-awaiting="true"]) {
    &:not(:disabled) {
      &:hover {
        --gradient-color: rgba(255, 165, 105, 0.08);
        background-image:
          linear-gradient(var(--gradient-color), var(--gradient-color)),
          url("../assets/woodbg2.png");
      }

      &:active {
        background-color: #9a8d68;
      }
    }

    &:disabled {
      cursor: auto;
      opacity: 0.5;
    }
  }

  @media (width > 400px) {
    padding: 0.75em 2.5em;
  }
}

.theme-button[data-awaiting="true"] {
  color: transparent;

  img {
    opacity: 0;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: inline-block;
    height: 60%;
    border: 4px solid #e0d4b0;
    animation: rotation 1s linear infinite;
    aspect-ratio: 1 / 1;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    transform: translate(-50%, -50%);
  }

  @keyframes rotation {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

.theme-title {
  color: #f5eac6;
  font-family: "Cinzel Decorative";
  font-weight: 700;
  letter-spacing: 0.05em;
}

.theme-subtitle {
  color: #d4d2d2;
  letter-spacing: 0.05em;
}

.theme-list {
  display: flex;
  list-style: none;
}

.theme-list-item {
  padding: 0.5em 1em;
  border: 1px solid rgba(255, 230, 180, 0.2);
  background-color: rgba(255, 230, 180, 0.05);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #f5eac6;
  font-family: "Cinzel", serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  list-style: none;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.theme-dialog {
  top: 45%;
  z-index: 99999;
  padding: 1.75rem 2.25rem;
  border: 1px solid #a3bdbd;
  background-image: url("../assets/dialogbg.png");
  border-radius: 4px;
  color: #eeeeee;
  flex-shrink: 0;
  font-family: "Cinzel";
  letter-spacing: 0.05em;
  margin-inline: auto;

  max-width: 100%;
  padding-bottom: 1.5rem;
  transform: translateY(-50%);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

pre {
  z-index: 99999;
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 1rem;
}
